*.psd filter=lfs diff=lfs merge=lfs -text
*.mkv
*.MXF
git[[:space:]]lfs[[:space:]]track[[:space:]]*.mkv filter=lfs diff=lfs merge=lfs -text
test2.mp4 filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
